{{ ansible_managed | comment('plain', decoration='## ') }}
check process osqueryd
  with pidfile "/var/run/osqueryd.pid"
  group system
  group osqueryd
{% if ansible_service_mgr == 'systemd' %}
  start program = "/bin/systemctl start ssh" with timeout 60 seconds
  stop program  = "/bin/systemctl stop ssh"
{% else %}
  start program = "/etc/init.d/ssh start" with timeout 60 seconds
  stop program  = "/etc/init.d/ssh stop"
{% endif %}
  if cpu > 90% for 15 cycles then alert
  if totalmem > 90% for 15 cycles then alert
  if loadavg(15min) greater than 10 for 50 cycles then alert
  if 5 restarts with 5 cycles then alert
  depends on osqueryd_binary
  depends on osqueryd_conf

check file osqueryd_binary
  with path /usr/bin/osqueryd
  group osqueryd
  if failed checksum then alert

check file osqueryd_conf with path /etc/osquery/osquery.conf
  include /etc/monit/templates/rootrc
  group osqueryd
