{
  "queries": {
    "osquery_extensions": {
      "query": "select * from osquery_extensions;",
      "interval": 900,
      "description": "List of active osquery extensions."
    },
    "osquery_flags": {
      "query": "select * from osquery_flags;",
      "interval": 900,
      "description": "Configurable flags that modify osquery's behavior."
    },
    "osquery_packs": {
      "query": "select * from osquery_packs;",
      "interval": 900,
      "description": "Information about the current query packs that are loaded in osquery."
    },
    "osquery_registry": {
      "query": "select * from osquery_registry;",
      "interval": 900,
      "description": "List the osquery registry plugins."
    }
  }
}
