# Physical interface, could be bond. This only needs to be set once
{% for key, value in mnaio_host_networks.items() %}
{%   if value.iface_port != 'none' %}
auto {{ value.iface_port }}
iface {{ value.iface_port }} inet manual
{%   endif %}

{% endfor %}

{% for key, value in mnaio_host_networks.items() %}
auto {{ value.iface }}
iface {{ value.iface }} inet {{ value.inet_type }}
    bridge_stp off
    bridge_waitport {{ value.iface_port == 'none' | ternary('0', '10') }}
    bridge_fd 0
    bridge_ports {{ value.iface_port }}
    offload-sg off
{%   if value.address is defined %}
    address {{ value.address }}
{%   endif %}

{%   if value.address_aliases is defined %}
{%     for addr in value.address_aliases %}
auto {{ value.iface }}
iface {{ value.iface }} inet static
    address {{ addr }}
{%     endfor %}

{%   endif %}

{% endfor %}
