
{{ repo }}
{{ '~' * repo | length}}

{% if commits | length < 1 %}
No commits were found in `{{ repo }} <https://github.com/openstack/{{ repo }}>`_
between the OSA commits provided.
{% elif commits | length == 1 %}
1 commit was found in `{{ repo }} <https://github.com/openstack/{{ repo }}>`_
from ``{{ older_sha }}`` to ``{{ latest_sha }}``:
{% elif commits | length > 1 %}
{{ commits | length }} commits were found in `{{ repo }} <https://github.com/openstack/{{ repo }}>`_
from ``{{ older_sha }}`` to ``{{ latest_sha }}``:
{% endif %}

{% for commit in commits if not commit.commit['message'].split('\n')[0][0:7] == 'Merge "' %}
* {{ commit.commit['message'].split('\n')[0] }} [`{{ commit.sha[0:8] }} <https://github.com/openstack/{{ repo }}/commit/{{ commit.sha }}>`_]
{% endfor %}
