{% set IP_ARR=[] %}
{% for host in groups['elastic-logstash'] %}
{%   if IP_ARR.insert(loop.index,hostvars[host]['ansible_host']) %}
{%   endif %}
{% endfor -%}
output {
  elasticsearch {
    hosts => [{{ IP_ARR | map('regex_replace', '$', ':' ~ elastic_port|string()) | map('regex_replace', '$', '"') | map('regex_replace', '^', '"') | list | join(',' ) }}]
    sniffing => true
    manage_template => false
    index => "%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
  }
}
