output {
  elasticsearch {
    hosts => {{ elasticsearch_data_hosts | shuffle(seed=inventory_hostname) | to_json }}
    sniffing => true
    manage_template => false
    index => "%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
  }
}
