{% set IP_ARR=[] %}
{% for host in groups['elastic-logstash'] %}
{%   set _ = IP_ARR.insert(loop.index, ((hostvars[host]['ansible_host'] | string) + ":" + (elastic_port | string))) %}
{% endfor %}
output {
  elasticsearch {
    hosts => {{ IP_ARR | to_json }}
    sniffing => true
    manage_template => false
    index => "%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
  }
}
