{% set image_properties = images[item.server_image] %}
default linux
prompt 0
timeout 1
label linux
  kernel {{ image_properties['image_kernel'] }}
{%     if image_properties['image_type'] == 'debian' %}
  append hostname={{ item.server_hostname }} {{ image_properties['image_kernel_options'] }} initrd={{ image_properties['image_initrd'] }} preseed/url={{ image_properties['image_preseeds'][item.server_preseed_ks]['url'] }} preseed/interactive=false netcfg/choose_interface={{ item.server_default_interface }} {{ item.server_extra_options | default('') }}
{%     endif %}
