## Physical interface, could be bond. This only needs to be set once for the physical device
# MANAGEMENT Network
auto eth1
iface eth1 inet manual

# FLAT Network
auto eth2
iface eth2 inet manual

# VLAN Network
auto eth3
iface eth3 inet manual

# TUNNEL Network
auto eth4
iface eth4 inet manual

# STORAGE Network
auto eth5
iface eth5 inet manual

auto br-mgmt
iface br-mgmt inet static
    bridge_stp off
    bridge_waitport 10
    bridge_fd 0
    bridge_ports eth1
    address 172.29.236.__COUNT__
    netmask 255.255.252.0
    offload-sg off

auto br-flat
iface br-flat inet static
    bridge_stp off
    bridge_waitport 10
    bridge_fd 0
    bridge_ports eth2
    address 172.29.248.__COUNT__
    netmask 255.255.252.0
    offload-sg off

auto br-vlan
iface br-vlan inet manual
    bridge_stp off
    bridge_waitport 10
    bridge_fd 0
    bridge_ports eth3
    offload-sg off

auto br-vxlan
iface br-vxlan inet static
    bridge_stp off
    bridge_waitport 10
    bridge_fd 0
    bridge_ports eth4
    address 172.29.240.__COUNT__
    netmask 255.255.252.0
    offload-sg off
    # To ensure ssh checksum is correct
    up /sbin/iptables -A POSTROUTING -t mangle -p tcp --dport 22 -j CHECKSUM --checksum-fill
    down /sbin/iptables -D POSTROUTING -t mangle -p tcp --dport 22 -j CHECKSUM --checksum-fill
    # To provide internet connectivity to instances
    up /sbin/iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
    down /sbin/iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE
    # Make sure instances can talk to the metadata server
    up /sbin/iptables -t mangle -A POSTROUTING -p tcp --sport 80 -j CHECKSUM --checksum-fill

auto br-storage
iface br-storage inet static
    bridge_stp off
    bridge_waitport 10
    bridge_fd 0
    bridge_ports eth5
    address 172.29.244.__COUNT__
    netmask 255.255.252.0
    offload-sg off
