---
# Copyright 2017, Rackspace US, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in witing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

ansible_os_family: "{{ images[default_vm_image]['image_type'] }}"  # str  - Set the ansible os family

server_hostname: 'host1'                # str  - required, hostname of server
server_domain_name: 'openstack.local'   # str  - required, domain name of server
server_vm: true                         # bool - not required, used to specify a host is to become a VM
server_vm_ram: 8192                     # int  - not required, used to specify ram when provisioning a VM
server_vm_vcpus: 4                      # int  - not required, used to specify vcpus when provisioning a VM
server_vm_fixed_addr: '10.0.2.200'      # str  - not required, used to specify fixed address when using internal DHCPD
server_vm_primary_network: 'dhcp'       # str  - not required, primary network used to kick the VM
server_image: "{{ default_vm_image }}"  # str  - required, image name
server_default_interface: 'eth0'        # str  - required, default interface
server_mac_address: '52:54:00:bd:80:20' # str  - required, mac address of default interface
server_preseed_ks: 'vm'                 # str  - required, name of preseed/kickstart file
server_extra_options: ''                # str  - not required, added kernel options

server_networks:                        # dict - required, hash of networks, can be empty, key is used to name the networks.
  dhcp:
    iface: 'eth0'                       # str  - required, interface name
    inet_type: 'dhcp'                   # str  - required, iface type [static, dhcp, manual]
    vm_int_iface: vm-br-dhcp            # str  - not Required, used to specify an integration networks interface when provisioning a VM
  mgmt:
    iface: 'eth1'                       # str  - required, interface name
    inet_type: 'static'                 # str  - required, iface type [static, dhcp, manual]
    address: '10.0.236.200/22'          # str  - not required, must be in CIDR format
    vm_int_iface: vm-br-eth1            # str  - not Required, used to specify an integration networks interface when provisioning a VM
  flat:
    iface: 'eth2'                       # str  - required, interface name
    inet_type: 'static'                 # str  - required, iface type [static, dhcp, manual]
    address: '10.0.248.200/22'          # str  - not required, must be in CIDR format
    vm_int_iface: vm-br-eth2            # str  - not Required, used to specify an integration networks interface when provisioning a VM
  vlan:
    iface: 'eth3'                       # str  - required, interface name
    inet_type: 'manual'                 # str  - required, iface type [static, dhcp, manual]
    vm_int_iface: vm-br-eth3            # str  - not Required, used to specify an integration networks interface when provisioning a VM
  vxlan:
    iface: 'eth4'                       # str  - required, interface name
    inet_type: 'manual'                 # str  - required, iface type [static, dhcp, manual]
    address: '10.0.240.200/22'          # str  - not required, must be in CIDR format
    vm_int_iface: vm-br-eth4            # str  - not Required, used to specify an integration networks interface when provisioning a VM
  storage:
    iface: 'eth5'                       # str  - required, interface name
    inet_type: 'manual'                 # str  - required, iface type [static, dhcp, manual]
    address: '10.0.244.200/22'          # str  - not required, must be in CIDR format
    vm_int_iface: vm-br-eth5            # str  - not Required, used to specify an integration networks interface when provisioning a VM
  lbaas:
    iface: 'eth6'                       # str  - required, interface name
    inet_type: 'static'                 # str  - required, iface type [static, dhcp, manual]
    address: '10.0.232.200/22'          # str  - not required, must be in CIDR format
    vm_int_iface: vm-br-eth6            # str  - not Required, used to specify an integration networks interface when provisioning a VM