DEFAULT menu
PROMPT 0
MENU TITLE PXEBoot
TIMEOUT 3
TOTALTIMEOUT 6000
ONTIMEOUT local

LABEL local
        MENU LABEL (local)
        MENU DEFAULT
        LOCALBOOT -1

LABEL xenial
        kernel /images/xenial/linux
        MENU LABEL xenial
        append initrd=/images/xenial/initrd.gz ksdevice=bootif netcfg/choose_interface=auto text  auto-install/enable=true priority=critical url=http://{{ webserver_ip_address }}/{{ preseed_apache_url }}/xenial hostname=xenial domain=local.lan suite=xenial
        ipappend 2

MENU end
